.buttons{
  display:flex;
  justify-content: space-evenly;
}

.hide{

  display: None;
}
#button1{
  background-image: url('./static/assets/typeically-icon.png'); background-size: cover;
  font-family: 'Metropolis-Thin';
  background-color:rgba(0,0,139,0.3);
  border-radius: 0.6944444444444444vw;
  border: white;
  color: black;
  text-align: center;
  font-size: 1.1111111111111112vw;
  width:  19vw;
  height:  19vw;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);

}

#button2{

  background-image: url('./static/assets/nanofish-icon.png'); background-size: cover;
  font-family: 'Metropolis-Thin';
  background-color:rgba(219, 251, 255, 1);

  border-radius: 0.6944444444444444vw;
  border: white;
  color: black;
  text-align: center;
  font-size: 1.1111111111111112vw;
  width:  19vw;
  height:  19vw;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);

}

#button3{

  background-image: url('./static/assets/texture-icon.png'); background-size: cover;
  font-family: 'Metropolis-Thin';
  background-color:rgba(135,206,235, 0.60);

  border-radius: 0.6944444444444444vw;
  border: white;
  color: black;
  text-align: center;
  font-size: 1.1111111111111112vw;
  width:  19vw;
  height:  19vw;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);

}
#ul-double-col1 {

  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#ul-double-col2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#button4{

  background-image: url('./static/assets/waveform-icon.png');
  background-size: cover;
  font-family: 'Metropolis-Thin';
  background-color:rgba(106, 134, 180, 0.6);

  border-radius: 0.6944444444444444vw;
  border: white;
  color: black;
  text-align: center;
  font-size: 1.1111111111111112vw;
  width:  19vw;
  height:  19vw;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);

}

#button1:hover span {
  display: block;
}
#button1:hover {
  background-image: none;
  background-color:rgba(0,0,139,0.2);
  border: rgba(135,206,235, 0.70);
  transition: 1s;
}
#button2:hover span {
  display: block;
}
#button2:hover {
  background-image: none;
  background-color:rgba(219, 251, 255, 0.7);
  border: rgba(135,206,235, 0.5);
  transition: 1s;
}

#button3:hover span {
  display: block;
}
#button3:hover {
  background-image: none;
  background-color:rgba(135,206,235, 0.4);
  border: rgba(135,206,235, 0.70);
  transition: 1s;
}

#button4:hover span {
  display: block;
}
#button4:hover {
  background-image: none;
  background-color:rgba(106, 134, 180, 0.4);
  border: rgba(135,206,235, 0.70);
  transition: 1s;
}

button:active {
  background-color: rgba(0,0,128, 0.40);
}

body {

  display: flex;
  min-height: 100vh;
  padding-top:  0.2777777777777778vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


 html, body {
   scroll-behavior: smooth;

   margin: 0;
   height: 100%;
 }

/* Style the navbar */
#navbar {
  overflow: hidden;
}

/* Navbar links */
#navbar a {
  font-size: 1.3vw;
  float: left;
  display: block;
  text-align: center;
  padding: 0.5vw;
  text-decoration: none;
}
/* Navbar links */
#navbar a:hover {
  font-family: 'Metropolis-SemiBold';
}

/* Navbar links */
#navbar a:active {
  font-family: 'Metropolis-SemiBold';

}
/* Page content */
.content {
  padding: 16px;
}

.row {
  display: flex;
  flex-grow: 1;
}

.column{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width:11vw;
  height:100%;
  padding-top: 40px;
  padding-left: 20px;
  color: white;
}

.sticky a {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.sticky span {
  font-size: 1.6vw;
}
.fade-in {
  -webkit-animation: fadein 2s;/* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.fade-out {
  -webkit-animation: fadeout 2s;/* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

.bold {
  font-family: Metropolis-SemiBold;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


.modal-container{
  background: #fff;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  right: 5%;
  width: 90%;
  top: 5%;
  bottom: 0%;
  left: 5%;
  height: 95%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px 15px 0 0;
}

.close {
  font-size: 45px;
  font-weight: 600;
  color: black;
}

#close1{
  color: white; position: absolute; right: -0.7vw; top: -0.2vw; width: 3.125vw; height: 3.125vw; cursor:pointer; font-size:3vw;
}
#close2{
  color: black; position: absolute; right: -0.7vw; top: -0.2vw; width: 3.125vw; height: 3.125vw; cursor:pointer; font-size:3vw;
}

#close3{
  color: black; position: absolute; right: -0.7vw; top: -0.2vw; width: 3.125vw; height: 3.125vw; cursor:pointer; font-size:3vw;
}
#close4{
  color: white; position: absolute; right: -0.7vw; top: -0.2vw; width: 3.125vw; height: 3.125vw; cursor:pointer; font-size:3vw;
}
.modal-container.show{
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0,0.7);
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

canvas {
  width: 100%;
  height: 100%;
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
}

:root {

  --dark-bg: rgba(255, 255, 255, 0.88);
  --spacing: 24.65277777777778vw;

  font-family: 'Metropolis-Thin';
  font-weight: 400;
}

main {
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 300px 0px 0px 60px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}



a {
  color: black;
  font-family: 'Metropolis-Regular'
}

h1, h3, small, li {
  font-family: 'Metropolis-Thin';

}
.stack {
  font-size:  0.9722222222222222vw;
  font-family: 'Metropolis-Regular';

}
li {
  font-family: Metropolis-Thin !important;
  font-size: 0.9722222222222222vw;
}
li::marker {
  color: black;
  font-size: 0.8vw;
}



.role-desc{
  font-family: 'Metropolis-Regular', serif !important;
  font-size: 1.4vw;

}



header {
  border-radius: 0.6944444444444444vw;
  border: rgba(255, 255, 255, 0.93);
  box-shadow: 0 0 1.3888888888888888vw   0.3472222222222222vw rgba(0, 0, 0, 0.15);
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2.2vw;
  margin-bottom: var(--spacing);
}

section {
  border-radius: 0.6944444444444444vw;
  border: rgba(255, 255, 255, 0.93);
  box-shadow: 0 0  1.3888888888888888vw  0.3472222222222222vw rgba(0, 0, 0, 0.15);
  grid-column: span 6 / 10;
  padding: 2vw;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 10vw;
}

.left {
  grid-column: span 6 /  10;
}
.right {
grid-column: span 6 / 10
}
.center {
  z-index: -1;
  background: var(--dark-bg);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.93);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
  grid-column: span 6 / 10;
}
.skills {
  grid-column: span 4 / 9;
}


.header-name{
  font-size:  3.5vw
}

.header-desc{
  font-size: 1.8vw;
}

h2 {
  font-family: 'Metropolis-Regular';
  font-size: 2.0833333333333335vw;
}

p{
  font-size: 1.35vw ;

}




.company-text{

  font-size: 1.0416666666666667vw
}



ul li {
  right: 0.2vh;
  padding-right: 4em;
}

li {
  list-style: none;
}

li:before {
  content:"· ";
  font-size:1.6666666666666667vw;
  vertical-align:middle;
  line-height:1.3888888888888888vw;
}
hide_space{


}


.img-1{

  float: right; padding-right: 0.3vw; margin-left: 2.2vw; width: auto; height:  5.1vw;
}


.img-2{
  float: right; margin-left: 2vw; width: auto; height:  5vw; box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15); border-radius: 5px
}

.img-3{
  float: right; margin-left: 3vw; width: auto; padding-right: 0.8vw; height:  5.3vw;
}

.img-4{
  float: right; margin-left: 2vw; width: auto; height:  4.3vw;
}



.skill-bullet{
  font-size: 1.2vw;
}


.contact-desc{
  font-size: 0.9722222222222222vw; color: black; text-align: center;
}

.footer-icon{
  width: auto; height: 2vw
}
.hide_space {
  padding-bottom: 0vw;
}


.project-name{
  font-size: 2vw;

}

.project-date{
  font-size: 1.7vw;

}

.project-stack{
  font-size: 1.7vw;

}
.project-abstract{

  font-size: 1.3vw;
}


.project-background-img{
  height: 36vw;
}

.project-sub-header{
  font-size: 1.4vw;
}
.project-desc{
  font-size: 1.3vw;}

.img-caption{
font-size: 0.97222vw;
  margin-right: 18vw; margin-left: 18vw;
}

.project-img-large{
  width: 50%;
}
.project-img-medium{
  width: 60%;
}
.project-img-xtra-large{
   width: 80%;
 }

.project-img-xtra-small{
  width: 40%;
}

@media screen and (max-width: 450px) {

  .project-img-large{

    width: 80%;
  }

  .project-img-medium{
    width: 70%;
  }
  .project-img-xtra-large{
    width: 95%;
  }

  .project-img-xtra-small{
    width: 55%;
  }
  .img-caption{
    font-size: 2.2vw;
    margin-right: 0; margin-left: 0;

  }
  .project-name{
    font-size: 4vw;

  }

  .project-date{
    font-size: 3.5vw;

  }

  .project-stack{
    font-size: 3.5vw;

  }
  .project-abstract{

    font-size: 2.6vw;
  }


  .project-sub-header{
    font-size: 2.5vw;
  }
  .project-desc{
    font-size: 2.3vw;}

  .project-background-img{
    height: 43vw;
  }

  #button1{
    border-radius: 1.5vw;
  }
  #button2{
    border-radius: 1.5vw;
  }
  #button3{
    border-radius: 1.5vw;
  }
  #button4{
    border-radius: 1.5vw;
  }

  #close1{
    color: white; position: absolute; right: -0.7vw; top: -0.2vw; width: 6vw; height: 6vw; cursor:pointer; font-size:6vw;
  }
  #close2{
    color: black; position: absolute; right: -0.7vw; top: -0.2vw; width: 6vw; height: 6vw; cursor:pointer; font-size:6vw;
  }

  #close3{
    color: black; position: absolute; right: -0.7vw; top: -0.2vw; width: 6vw; height: 6vw; cursor:pointer; font-size:6vw;
  }
  #close4{
    color: white; position: absolute; right: -0.7vw; top: -0.2vw; width: 6vw; height: 6vw; cursor:pointer; font-size:6vw;
  }
  header {


    margin-bottom: 60vw;
  }
  .contact-desc{
    font-size: 2vw;
  }
  .skill-bullet{
    font-size: 2.7vw;
  }
  .footer-icon{
    width: auto; height: 4vw

  }

  .img-1{
    width: auto; height:  7.3vw;

  }
  .img-2{
    width: auto; height:  7vw;
  }

  .img-3{
  width: auto; height:  7.3vw;
  }

  .img-4{
    width: auto; height:  5.5vw;
  }


  .hide_space {
  padding-bottom: 1.5vw
  }

  li:before {
    font-size:4vw;
  }

  li{

    font-size: 2vw;

  }
  .stack{
    font-size:2vw

  }

  li{
    line-height: 1.4em;

  }
  #experience{
    line-height: 0.6em;
  }
  .role-desc{
    font-size: 3vw;

  }
  .company-text {
    font-size:2vw
  }
  #button1{
    height: 30vw;

    width: 30vw;
  }
  #button2{
    height: 30vw;

    width: 30vw;
  }
  #button3{
    height: 30vw;

    width: 30vw;
  }
  #button4{
    height: 30vw;

    width: 30vw;
  }
  header{
    padding: 20px;
    line-height: 0.5em;
  }
  section{
    padding-top: 12px;
    padding-bottom: 8px;

    padding-right: 20px;
    padding-left: 20px;

  }

  #home-span{
    display: none;
  }

  #navbar a {
    font-size: 3vw;
    padding: 0.5vw;
  }

  .header-name{
    font-size:  6vw;
  }

  .header-desc{
    font-size: 3.5vw;
    margin-top: 4px;

  }

  p {
    font-size: 3.7vw;
  }

  h2 {
    font-size: 5vw;
  }


  main{
    padding: 50px 0px 0px 60px;

  }
  header{

    border-radius:2vw;
    grid-column: span 10 / 11;
  }
  section{
    grid-column: span 10 / 11;
    border-radius: 2vw;

  }
  .center{
    border-radius: 2vw;

    grid-column: span 10 / 11;
  }
  .skills{
    border-radius: 2vw;

    grid-column: span 10 / 11;

  }
  .left{
    border-radius: 2vw;

    grid-column: span 10 / 11;

  }
}



.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  font-size: 1vw;
  visibility: hidden;
  width: 10.41vw;
  background: var(--dark-bg);
  text-align: center;
  border-radius: 0.6607929515418502vw;
  padding: 0.5506607929515418vw;
  position: absolute;
  z-index: -1;
  bottom: 160%;
  left: 50%;
  margin-left: -5.7vw;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'Metropolis-Thin';
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5506607929515418vw;
  border-width: 0.5506607929515418vw;
  border-style: solid;
  border-color:  rgba(255, 255, 255, 0.88) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.description {
  font-size: 1.1805555555555556vw;
}



